body{
background-image: $bg_img;
height: $height;
background-attachment: $bg_atta;
background-position: $bg_position;
background-repeat: $bg_repeat;
background-size: $bg_size;
margin-bottom: $marginbotom;

}