i{
    font-size: 35px;
    color: brown;
    

}

.wp{
    color: green;
    position: fixed;
    right: 15px;
    bottom: 1px;
    background-color: black;
    
    

}   
   
@media screen and (max-width: 576px) {


    /* titulo principal */
        .h1{
        
        font-size: 150%;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        
}
    
    /* barra de navegacion */
    header{
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 0.5%;
        margin-top: 2%;
        font-size: 62.5%;
        padding: 10px 0px 10px 0px;
        width: auto;
        height: auto;
    }
        
    /* noticias */
    
    
    h2{
            margin-top: 1%;
        }
    .noticias{
        width: auto;
        height: auto;
        
       display: flex;
       flex-direction: column;
        
    }
    .noticias__tamaño_imagen{
        width: auto;
        height: auto;
        margin-bottom: 3%;
    
    }
    #p_principal{
       
        margin-top: 5%;
    }
    
    #p_imagen{
        display: none;
        
    }
    iframe{
        width: 100%;
        height: 100%;
        margin-bottom: 2%;
    }
    
    /* pie de pagina */
    footer{
        font-size: 105%;
        width: auto;
        height: auto;
    }
    .wp{
        
        
        right: 1%;
        bottom: 0;
        background-color: rgb(3, 4, 5);
        
        
    
    }   

}