

.h1{
    font-family: $font_family_h1;
    font-style: $font_style_h1;
    font-size: $font_size_h1;
    color: $color_h1;
    text-align: $text-align_h1;
    background-color:$bg_color_h1;
    width: $width_h1;
    height: $height_h1;
    margin: $margin_h1;
    display: $display_h1;
    text-align: $text-align_h1;
    
}


