//imagen de fondo//

$height: 600px;
$bg_atta: fixed;
$bg_position: center;
$bg_repeat: no-repeat;
$bg_size: cover;
$marginbotom: 50px;
$bg_img: url(../img/telon.jpg);


// h1 //
$font_family_h1: 'Josefin Sans';
$font_style_h1: italic;
$font_size_h1: 275%;
$color_h1: red;
$text_align_h1: center;
$bg_color_h1: rgb(11, 11, 100);
$width_h1: 60%;
$height_h1: 60%;
$margin_h1: auto;
$display_h1: flex;
$text-align_h1: end;
$padding_top_h1: 10px;




















